@use "../../scss/" as *;
.navbar__container {
  @include flex(center, center);
  list-style-type: none;
  font-size: 0.9em;
  color: $black-color;

  .navbar__container-link {
    margin-right: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;

    div {
      width: 0px;
      height: 4px;
      background-color: #4d4c7d;
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      div {
        width: 100%;
      }
    }
  }
}
